@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600;700&display=swap');

%shadow_block{
  box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 2px 6px 2px rgba(60,64,67,.15);
  border-radius: 0.5rem;
  overflow: hidden;
}

h1 {
  font-family: 'Inter', sans-serif;
  font-size: 21px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  p {
    font-family: 'Inter', sans-serif;
    font-size: 12px;

  }

  img {
    width: 195px;
    height: 48px;
  }

  .b-menu {
    width: 50px;
    height: 50px;
  }
}

form {
  @extend %shadow_block;
  padding: 15px;
  display: flex;
  flex-direction: column;

  label {
    text-align: center;
    margin-bottom: 5px;
    font-family: 'Inter', sans-serif;
  }

  input {
    border-radius: 10px;
    margin-bottom: 10px;
    height: 30px;
  }

  .mainBtn {
    margin-bottom: 10px;
  }
}

.mainBtn {
  border-radius: 10px;
  border: 1px solid;
  background-color: white;
  font-family: 'Inter', sans-serif;
  height: 40px;
}

main {
  article {
    .order_block {
      @extend %shadow_block;
      padding: 10px;
      padding-top: 0px;
      font-family: 'Inter', sans-serif;
      .order_block_head_text {
        font-size: 16px;
      }

      .order_block_description_text {
        font-size: 14px;
      }

      .order_block_description_price {
        font-size: 14px;
        text-align: end;
      }
    }
  }
}